a[href="https://www.buymeacoffee.com/viktorbezdek"] > img {
    height: 2.2em;
}

a[href="https://www.buymeacoffee.com/viktorbezdek"]{
    transform: translate(0, 5%);
}

.phrasebank-suggester-container {
    display: flex;
    place-content: space-between;
}

.phrasebank-shortcode {
    margin-right: 8px;
}

.phrasebank-suggestion-item {
    border-top: solid var(--background-secondary) 1px;
    padding-left: 10px;
}
